In [50]:
import numpy as np 
import pandas as pd
from IPython.display import display

print('========== read mpg miles per gallon data on cars =======================')
mpg_df = pd.read_csv(r"sport_athletes.csv")

mpg_df.groupby('Sport Type').max(numeric_only=True).rename(columns={'Weight(kg)':'max_weight'})
mpg_df.groupby('Sport Type').agg(max_weight=('Weight(kg)', 'max'))

mpg_df.groupby('Sport Type')[['Weight(kg)']].min().sort_values(by='Weight(kg)')

mpg_df.groupby('Sport Type')['Height(cm)'].nlargest(2)

mpg_df.groupby(['Country', 'Sport Type']).max()

#mpg_df.groupby(['Country', 'Sport Type']).max().loc[('USA', 'Basketball')]

#mpg_df.groupby(['Country', 'Sport Type']).max().loc[('USA', 'Basketball')]

#mpg_df.groupby(['Country', 'Sport Type']).max().loc[('Brazil','Soccer'):('Netherlands', 'Cycling')]
mpg_df.groupby(['Country', 'Sport Type']).max().xs(level='Sport Type', key='Soccer')

mpg_df[mpg_df['Sport Type'].isin(['Soccer', 'Tennis'])].groupby(['Country', 'Sport Type']).max()

mpg_df.groupby(['Country', 'Sport Type']).max().swaplevel().sort_values(by='Sport Type')

========== read mpg miles per gallon data on cars =======================

                                     Athlete Name  Height(cm)  Weight(kg)  \
Sport Type      Country
Basketball      USA              Shaquille O'Neal         216         147
Cycling         Belgium               Eddy Merckx         181          72
                Netherlands  Anna van der Breggen         175          68
                Slovenia            Tadej Pogacar         186          69
                UK                 Geraint Thomas         183          71
Gymnastics      Romania            Nadia Comaneci         155          50
                USA                  Simone Biles         160          52
Soccer          Argentina            Lionel Messi         170          69
                Brazil                       Pelé         174          72
                France            Zinedine Zidane         185          80
                Portugal        Cristiano Ronaldo         187          83
                USA                 Megan Rapinoe         168          62
Swimming        Australia              Ian Thorpe         196          85
                China                    Sun Yang         200          90
                USA                Michael Phelps         193          88
Tennis          Serbia             Novak Djokovic         188          84
                Switzerland         Roger Federer         185          85
                Spain                Rafael Nadal         185          85
                USA               Serena Williams         175          70
Track and Field Jamaica                Usain Bolt         195          94
                UK                       Mo Farah         176          65
                USA             Florence Griffith         188          81

                             Wins Olympic Date
Sport Type      Country
Basketball      USA             3   24/08/2012
Cycling         Belgium         5   15/08/1980
                Netherlands     4   10/08/2020
                Slovenia        3   11/08/2020
                UK              4   08/08/2012
Gymnastics      Romania         5   18/08/1976
                USA             5   15/08/2008
Soccer          Argentina       2   11/08/2016
                Brazil          3   18/08/1970
                France          3   17/08/1998
                Portugal        2   25/08/2008
                USA             2   05/08/2020
Swimming        Australia       4   11/08/2000
                China           3   08/08/2012
                USA             5   25/08/2012
Tennis          Serbia          4   10/08/2020
                Switzerland     2   28/07/2008
                Spain           3   05/08/2016
                USA             4   01/08/2012
Track and Field Jamaica         6   22/08/2012
                UK              5   05/08/2016
                USA             4   18/08/1988

In [54]:
mpg_df = pd.read_csv(r"sport_athletes.csv")
mpg_df_smokers = pd.read_csv(r"athletes_smoking.csv")
display(mpg_df)
display(mpg_df_smokers)

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992
1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,Brazil,Soccer,Pelé,174,72,3,18/08/1970
6,Brazil,Soccer,Marta,163,57,3,01/08/2004
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,USA,Swimming,Caeleb Dressel,191,88,3,06/08/2016
14,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
15,China,Swimming,Sun Yang,200,90,3,08/08/2012
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,USA,Tennis,Serena Williams,175,70,4,01/08/2012
18,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,UK,Track and Field,Mo Farah,176,65,5,05/08/2016
23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,USA,Track and Field,Ashton Eaton,185,77,3,08/08/2016
25,UK,Cycling,Chris Froome,180,70,4,08/08/2012
26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/08/2020
28,Slovenia,Cycling,Primoz Roglic,186,68,3,05/08/2016
29,UK,Cycling,Geraint Thomas,183,71,4,08/08/2008
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
31,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,USA,Gymnastics,Aly Raisman,160,52,3,10/08/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,USA,Gymnastics,Gabby Douglas,150,45,3,11/08/2016

         Athlete Name Smoking
0      Michael Jordan      No
1        LeBron James      No
2         Kobe Bryant     Yes
3          Usain Bolt      No
4        Simone Biles      No
5       Wayne Gretzky     Yes
6        Lindsey Vonn      No
7        Rafael Nadal      No
8        Lionel Messi     Yes
9   Cristiano Ronaldo      No
10      Megan Rapinoe      No
11       Kevin Durant      No
12   Shaquille O'Neal      No
13         Carl Lewis     Yes
14         Ian Thorpe      No